.main {
    padding: 1rem;
    margin: 1rem;
}

.main table {
    border: 1px solid;
    padding: 1rem;
    width: 100%;
    table-layout: fixed;
    text-align: left;
}

.entry_form {
    border: 1px solid white;
    padding: 1rem;
    margin: 1rem;
    width: 50%;
}
